<p id="notice"><%= notice %></p>

<h1>Receita</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Enviado por</th>
      <th scope="col">Nome</th>
      <th scope="col">Tipo</th>
      <th scope="col">Ingredientes</th>
      <th scope="col">Preparo</th>
      <th scope="col">Ver Receita</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.user.email %></td>
        <td><%= recipe.name %></td>
        <td><%= recipe.kind.name %></td>
        <td><%= recipe.ingredients.count %></td>
        <% if recipe.preparation.size > 30  %>
          <td><%= recipe.preparation.first(30)+"..." %></td>
        <% else  %>
          <td><%= recipe.preparation %></td>
        <% end -%>
        <td><%= link_to t('Show'), recipe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div style="margin: 0 30px;">
  <%= paginate(@recipes) %>
</div>


